/*Body Grid*/
html,
body {
  height: 100%;
}
body {
  display: grid;
  grid: auto-flow min-content / 1fr;
  grid-template-areas:
    "header"
    "nav"
    "sideNav"
    "main"
    "footer";
  grid-gap: 0.2em;
  margin: 1em;
}
.sideNav{
  grid-area: sideNav;
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

/* Header Grid*/
.header {
  background-color: white;
  display: grid;
  grid: auto-flow min-content / 1fr 1fr;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}
.logo {
  display: grid;
  grid-auto-flow: column;
  grid: auto-flow min-content / repeat (2, 1fr);
  margin: 0;
  padding: 0;
  align-items: center;
  grid-gap: 0.1em;
}
.logo1 img{
  width: 100%;
}

#call {
  display: none;
}
.num {
  display: none;
}
.az {
  display: none;
}

/* Nav Grid */


/*Main Grid*/
.latest {
  display: grid;
  justify-items: center;
}
.logos {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  justify-items: center;
}
.lgs {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 0;
  margin: 0;
  padding: 0;
}

.cardgrid1 {
  display: grid;
  grid-auto-flow: column;
  grid: auto-flow min-content / 1fr 1fr;
  margin-bottom: 20px;
}
@media only screen and (max-width: 320px) {
  .cardgrid1 {
    grid-auto-flow: row;
    grid: auto-flow min-content / 1fr;
  }
}
.appointment {
  display: grid;
  grid-gap: 1em;
  justify-items: center;
}
.appoint {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid: min-content / 6em 1fr;
}
.appoint .img {
  grid-column: 1 / 2;
}
.appoint > .appo {
  grid-column: 2/3;
}


/*Footer Grid*/
footer {
  display: grid;
  grid: autoflow max-content / 1fr 1fr;
  justify-items: center;
  align-self: center;
  grid-gap: 1em;
}
.foot {
  display: grid;
  grid: autoflow min-content / repeat (12, 1fr);
  grid-gap: 1.5em;
  padding-left: 0;
  
}
.i1,
  .i3,
  .i5 {
   grid-column: 1 / 7;
  }
.i2,
  .i4,
  .i6 {
    grid-column: 7 / 13;
  }
.btm {
  display: grid;
  justify-items: center;
  margin: 0 5px;
}
.email{
  display: flex;
  justify-content: space-between;
}



/*Medium Grid*/
@media only screen and (min-width: 768px) {
  .header{
    padding-left: 4em;
    padding-right: 4em;
  }
  .cardgrid1 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .card {
    width: 10em;
  }
  .cardGrid {
    display: grid;
    grid: auto-flow min-content / 1fr 1fr;
    grid-gap: 1em;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sideNav{display: none;}
  #hamburgerBtn {
    display: none;
  }
  nav .nav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    
  }
  .nav li {
    padding-right: 30px;
  }
  nav > ul > li > a {
    color: black;
  }
  nav a:hover{
    color: #F07C00;
    text-decoration: underline;
  }
  nav>ul>li:hover{
    background-color: white;
  }
  nav {
    background-color: white;
  }
  nav > ul > li.active1 {
    text-decoration: underline;
  }
  .ora{color: #F07C00;}
  .locate {
    display: block;
  }
  .header {
    grid: auto-flow min-content / 1fr 1fr 1fr;
    grid-gap: 1em;
  }
}
@media only screen and (min-width: 570px) {
  .carousel {
    display: block;
  }
  .hero {
    display: none;
  }
  .i1,
  .i4{
    grid-column: 1 / 5;
  }
  .i2,
  .i5 {
    grid-column: 5 / 9;
  }
  .i3, .i6{
  grid-column: 9/13;
  }
  .email {
    width: 70%;
  }
}

/*Desktop Grid*/
@media only screen and (min-width: 1024px) {
  .header {
    grid: auto-flow min-content / 2fr 1fr 1fr 1fr;
    grid-gap: 2em;
    padding-left: 10em;
  }
  .nav li {
    padding-right: 40px;
  }
  #call {
    display: block;
  }
  .num {
    display: block;
  }
  .az {
    display: block;
    width: 30%;
  }
  .cardGrid {
    display: flex;
    margin: 20px 40px;
  }
  .card2{
    height: 25em;
    margin-right: .5em;
    margin-left: .5em;
  }
  .card2 img {
    height: 60%;
  }
  .latest > div > button {
    padding: 20px 50px;
    margin-bottom: 40px;
  }
  #font {
    font-size: xx-large;
  }
  .btm {
    display: grid;
    grid-auto-flow: column;
    grid: auto-flow min-content / 50% 50%;
    justify-items: center;
    margin: 0 5px;
  }
  .foot {
    grid-column: 2/3;
    grid-gap: 2em;
  }
  .icon {
    grid-column: 1/2;
    justify-self: end;
    margin-top: 0;
  }
  .get {
    font-size: 20px;
  }

  .email {
    padding: 0.2em;
    width: 65%;
  }
  .email > button {
    padding: 2em 4em;
  }
  .email > input[type="email"] {
    width: 60%;
    padding: 20px;
  }
  .appoint {
    grid: min-content / 6em 1fr 1fr;
  }
  .appointment {
    justify-items: start;
    padding-bottom: 4rem;
    padding-left: 6rem;
  }
  .ment{
    position: relative;
  }
  .here{
    font-size: 20px;
    max-width: 60%;
  }
  .open-button {
    display: none;
  }
  .fro {
    display: none;
  }
  .overlay {
    display: block;
    width: 30%;
    background-color: white;
    position: absolute;
    top: -10px;
    right: 20px;
  }
  .form-container {
    color: black;
  }
  .form-container .btn {
    background-color: rgba(240, 124, 0, 1);
  }
  .here {
    width: 90%;
  }
  .log {
    display: grid;
    grid-auto-flow: column;
    grid: auto-flow min-content / 1fr 1fr;
    align-items: flex-start;
    justify-items: center;
    grid-gap: 1em;
    margin-top: 20px;
    padding-left: 60px;
  }
  .fa{display: none;}

  .i1,
  .i3,
  .i5 {
   grid-column: 1 / 4;
  }
  .i2,
  .i4,
  .i6 {
    grid-column: 4 / 13;
  }
}
