/*Body Styles*/
body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background-color:#EFEFEF;
}
#font {
  font-family: "El Messiri", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, sans-serif;
    font-weight: 600;
}
header,
footer,
section,
main {
  overflow: auto;
}

/*Header Styles*/
input[type="text"] {
  width: 100%;
  border: 0;
  border-radius: 25px;
  background-color: #EFEFEF;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
.az select{
  width: 4.5em;
  border: 0;
  border-radius: 20px;
  background-color: #EFEFEF;
  outline: none;
  margin: 8px 0;
  padding: 8px;
}
.search input[type="text"] {
  padding-left: 50px;
}
.search {
  position: relative;
}
.search i {
  position: absolute;
  left: 0;
  top: 8px;
  color: gray;
  padding: 9px 10px;
  transition: 0.3s;
}
.search input[type="text"]:focus + i {
  color: dodgerBlue;
}
.locate {
  display: none;
}


/*Navigation Styles*/
nav {
  background-color: #a9d125;
  width: 100%;
  overflow: hidden;
}
nav > ul > li > a {
  color: white;
}
nav > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
nav > ul > li {
  list-style: none;
}
#hamburgerBtn {
  margin: auto 0;
  cursor: pointer;
}
#hamburgerBtn div{
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 15px;
  transition: 0.4s;
}
.open1 .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open1 .bar2 {
  opacity: 0;
}
.open1 .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}
aside{
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.open{
  display: block;
}

.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.navbar a {
  padding: 8px 0;
  color: white;
}
.navbar a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


/*Main Styles*/
main {
  margin: 0;
  padding: 0;
}
.hero {
  height: 236px;
  background-image: url("images/image6.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  padding: 10px;
  color: white;
}
.hero > div > h5 {
  margin-bottom: 5px;
}
.hero > div > p {
  padding: 0%;
  margin: 0%;
  width: 60%;
}
.hero1 {
  margin-top: 50px;
  margin-left: 20px;
  width: 50%;
  padding-left: 20px;
}
.carousel {
  display: none;
}
/*Carousel codes*/
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 35em;
}
.slideshow-container img {
  height: 35rem;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: white;
  padding: 30px 70px;
  position: absolute;
  top: 100px;
  width: 40%;
  margin: 30px;
}
.text h1, p {
  margin: 0;
  padding: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  margin-bottom: 20px;
  height: 25em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card2 img {
  border-radius: 15px 15px 0 0;
  height: 65%;
}
.container {
  padding: 2px 16px;
}
.container a {
  color: rgba(240, 124, 0, 1);
}
.container > h3,
p {
  padding: 0;
  margin: 10px;
}
.latest{
  background-color: white;
  margin-top: 10px;
  padding-bottom: 10px;
}
.latest > div > button {
  color: white;
  background-color: rgba(240, 124, 0, 1);
  border: none;
  padding: 15px;
  margin: 10px 0;
}
.latest > div > button:hover {
  background-color: darkorange;
}
.card {
  display: grid;
  justify-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin: 0.5rem;
}
.card img {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 0;
  border-radius: 20px;
}
.card h5 {
  padding: 0;
  margin-top: 10px;
  font-family: "Lato";
}
.appointment {
  background-color: rgba(177, 201, 0, 1);
  color: white;
  padding-left: 20px;
  padding-bottom: 20px;
}
.doc{
  background-color: rgba(240, 124, 0, 0.6);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white {
  background-color: white;
  width: 100%;
  height: 2em;
  color: white;
}

.appointment > p {
  padding: 0;
  margin: 0;
}
.appointment > h2 {
  margin-bottom: 0;
}
.appo > h4,
p {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
.appo h4{
  font-size: 18px;
}
.appo p{
  font-size: 18px;
}
.here{
  font-size: 20px;
}
.open-button {
  background-color: rgba(240, 124, 0, 1);
  color: white;
  padding: 16px 40px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}
.form-popup {
  display: none;
  border: 1px solid #f1f1f1;
  z-index: 9;
  width: 90%;
  margin: 10px 10px 10px 15px;
  border-radius: 0 30px 0 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.form-container {
  max-width: 100%;
  padding: 10px;
}
.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: 1px solid rgb(209, 202, 202);
}
.form-container input[type="date"] {
  width: 100%;
  border: 1px solid rgb(209, 202, 202);
  border-radius: 25px;
  background-color: #f8f8ff;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}
.form-container input[type="text"]:focus,
.form-container input[type="date"]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  background-color: rgba(177, 201, 0, 1);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: rgba(240, 124, 0, 1);
}
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}


/*Footer Styles*/
footer {
  background-color: black;
  color: white;
}
footer li {
  list-style: none;
}
footer a,
a:link {
  text-decoration: none;
  color: white;
}
.email {
  background-color: white;
  padding: 0.2em;
  width: 80%;
}
.email > button {
  background-color: rgba(240, 124, 0, 1);
  border: 0;
  color: white;
  padding: 1em 1em;
}
.email > input[type="email"] {
  width: 50%;
  border: 0;
  padding: 20px;
}
.icon i {
  padding: 10px;
}
.sub,
.get {
  margin-left: 20px;
}
.get {
  font-size: 12px;
}
.sub > h3 {
  padding: 0%;
  margin-bottom: 0%;
}
.log{display: none;}
.fa {
  text-align: center;
}